<div class="page">
    <div class=" grid-container">
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-employes.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/employés']">
                Consulter les employés
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-demandes.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/demandes']">
                Consulter les demandes
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-appel-offre.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/historique-appels-offres']">
                Liste les appels d'offres
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-stock.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/categories']">
                Gérer le stock
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-projects.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/projets']">
                Consulter les projets
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="../../../../assets/dashboard-etudes.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/historique-etudes']">
                Les études
            </button>
        </mat-card>
    </div>
</div>