.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 30px;
    padding-top: 0px;
}

.grid-item{
    margin: 10px;
    max-width: 400px;
}
mat-card.mat-card.mat-focus-indicator.grid-item {
    box-shadow: 5px 3px 2px 3px rgb(0 0 255 / 20%) !important;
    border-radius: 5%;
  }
 
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 12px;
    border-radius: 4px;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #3f51b5;
    font-size: 17px !important;
}