<div class="page">
    <mat-card class="container" style="text-align: left;">
        <div style="display: flex; justify-content: space-between;">
            <h2 style="margin: 0%;">Id Etude: {{id}}</h2>
            <h4 *ngIf="status === 0" style="background-color: rgb(216, 216, 67); color: white; padding: 3px; border-radius: 5px;">Attente</h4>
            <h4 *ngIf="status === 1" style="background-color: rgb(127, 216, 67); color: white; padding: 3px; border-radius: 5px;">Validé</h4>
            <h4 *ngIf="status === 2" style="background-color: rgb(216, 67, 67); color: white; padding: 3px; border-radius: 5px;">Refusé</h4>
        </div>
        <h4>Pour l'appel d'offre du projet: {{appelDoffreRef}}</h4>
        <br/>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Référence projet</mat-label>
            <input [(ngModel)]="referenceProjet" matInput [disabled]="status !== 0 ? '' : null">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Titre</mat-label>
            <input [(ngModel)]="titre" matInput [disabled]="status !== 0 ? '' : null">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="description" matInput [disabled]="status !== 0 ? '' : null" ></textarea>
        </mat-form-field>
        <br/>
        <h3 style="margin: 0%;">Date Création: {{datepost}}</h3>
        <h4 *ngIf="departement==='Etude'">
            crée par: {{creator}} 
        </h4>
        <h4 *ngIf="departement==='Administration'">
            <button mat-button style=" padding:0%; color: cadetblue;" [routerLink]="['/admin/employe/'+creatorId]">
                crée par: {{creator}} 
            </button>
        </h4>
        <div style="text-align: center;">
            <a href={{lienDocumet}} target="_blank" rel="noreferrer">
                <button mat-button style=" padding:0%; color: cadetblue; ">
                    Télécharger rapport de l'étude
                </button>
            </a>
        </div>
        <br/>
        <div *ngIf="status === 0 && (departement==='Etude' || (role === 'Responsable' && departement==='Administration')) " style="text-align: right;">
            <button mat-raised-button style="background-color: rgb(219, 219, 59);" (click)='update()'>
                Mettre à jour
            </button>
        </div>
        <div *ngIf="status === 0 && ((role === 'Responsable' && departement==='Etude') || (role === 'Responsable' && departement==='Administration') ) " style="text-align: right;">
            <hr/>
            <button mat-raised-button color='primary' (click)='valider()'>
                Valider
            </button>
            <button mat-raised-button 
                style="background-color: rgb(245, 45, 45); color: white; margin-left: 15px;" 
                (click)='refuser()'> 
                    Réfuser 
            </button>
        </div>
    </mat-card>
</div>