<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="erp" style="background-color: rgb(63, 81, 181); color: white;">
      Projet ERP
    </mat-toolbar>
    <br/>
    <mat-nav-list>
      <!--h4 class="sidenav-list-title">GRh</h4-->
      <a mat-list-item routerLink="/grh/dashboard" class="elem" routerLinkActive="router-link-active">
        <span class="material-icons">
          dashboard
        </span>
        Dashboard
      </a>
      <!--mat-divider></mat-divider-->
      <!--h4 class="sidenav-list-title">Employés</h4-->
      <a mat-list-item routerLink="/grh/employés" class="elem" routerLinkActive="router-link-active">
        <mat-icon>people</mat-icon>
        Employés
      </a>
      <!--mat-divider></mat-divider-->
      <!--h4 class="sidenav-list-title">Demandes</h4-->
      <a mat-list-item routerLink="/grh/demandes" class="elem" routerLinkActive="router-link-active">
        <span class="material-icons">
          description
        </span>
        Demandes
      </a>
      <!--mat-divider></mat-divider-->
        <!--h4 class="sidenav-list-title" style="margin-top: 20px;">Appels d'offres</h4-->
        <a mat-list-item routerLink="/grh/historique-appels-offres" class="elem" routerLinkActive="router-link-active">
          <span class="material-icons">grading</span>
          Appels d'offres
        </a>
      <!--mat-divider></mat-divider-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ressources Humaines</span>

      <div style="text-align: end; margin-right: 25px; width: 100%;">
        
        <button mat-icon-button [routerLink]="['/grh/mon-profil']" style="margin-right: 170px;">
          <mat-icon style="font-size: 30px; margin-right: 8px;">account_circle</mat-icon>
          <span style="font-size: medium; margin-right: 10px;">{{nom}}</span>
        </button>
        
        <button mat-icon-button [routerLink]="['/grh/support']" style="margin-right: 60px;">
          <mat-icon style="font-size: 30px; margin-right: 8px;">support_agent</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="notifications" style="margin-right: 60px;">
          <mat-icon *ngIf="newNotifs" [matBadge]="newNotifs" (click)='resetNotifs()' matBadgeColor="warn">notifications</mat-icon>
          <mat-icon *ngIf="!newNotifs" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <mat-menu #notifications="matMenu">
          <button mat-menu-item *ngFor="let notification of notifs" style="display: inline-block; text-decoration: none;" [routerLink]="configureRoute(notification.type)">
            <img [src]="configureImage(notification)" style=" float: left; margin-top: 5px; width: 35px; border-radius: 50%;" />
            <p style=" float: left; margin-left: 10px;" >{{notification.notifContenu}}</p>
          </button>
        </mat-menu>

        <button mat-icon-button (click)='logout()'>
          <mat-icon>power_settings_new</mat-icon>
        </button>

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
