.sidenav-container {
  height: 100%;
}

.erp {
  text-align: center;
    display: block;
    padding-top: 17px;
    font-size: 29px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: flex !important;
  
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 48px;
  -webkit-tap-highlight-color: transparent;
  width: 98% !important;
  padding: 0;
}
.sidenav {
width: 240px;
background-color: rgba(233, 232, 232, 0.158) ;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-list-title{
  margin: 0%;
  margin-left: 10px;  
}

.router-link-active{
  background-color: rgb(255, 255, 255);
  color: rgb(63, 81, 181);
  border-right: 5px solid rgb(63, 81, 181); 
}

.elem:hover{
  background-color: rgb(63, 81, 181);
  color: white;
}

::ng-deep.mat-menu-panel {
  max-width: 500px !important;
}