<div class="page">

    <div class="container">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(1)" style="width: calc(100% + 32px);" >
                <mat-expansion-panel-header >
                    <mat-panel-title >
                        <span class="material-icons" style="margin-top: 16px;">
                            add
                        </span>
                        <h3 style="margin-left:10px; font-size: larger; margin-top: 15px;">Ajouter une Categorie</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header> 
                
                <div class="container">
                    <div style="display: flex; justify-content: space-between;">
                        <mat-form-field appearance="fill" style="width: 45%;">
                            <mat-label>Titre *</mat-label>
                            <input matInput [(ngModel)]="name">
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 45%;">
                            <mat-label>Description *</mat-label>
                            <input matInput [(ngModel)]="description">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button  color="primary" (click)='creerAppelOffre()' >Ajouter une catégorie</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <mat-card class="container">
        <h2>Liste des categories</h2>
        <br/>
        <table style="width: 100%;">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr *ngFor="let c of categories">
                <td>{{ c.name }}</td>
                <td>{{ c.description }}</td>
                <td>
                    <button *ngIf="adminUi == 'Administration'" mat-button style=" padding:0%; color: cadetblue; " [routerLink]="['/admin/categorie/'+c.id]">
                        Consulter
                    </button>
                    <button *ngIf="adminUi !== 'Administration'" mat-button style=" padding:0%; color: cadetblue; " [routerLink]="['/employe/categorie/'+c.id]">
                        Consulter
                    </button>
                </td>
            </tr>
        </table>
    </mat-card>
</div>