<div class="page">
    <mat-card class="container">
        <mat-card-header>
            <mat-card-title>Support</mat-card-title>
        </mat-card-header>
        <h4 style="text-align: left;">L'opérateur de service d'assistance vous répondra dans les 1 à 24 heures</h4>
        <mat-tab-group mat-align-tabs="left">
            <mat-tab label="Historique">
                <app-support-historique></app-support-historique>
            </mat-tab>
            <mat-tab label="Nouveau Ticket">
                <app-support-new></app-support-new>
            </mat-tab>
        </mat-tab-group>          
    </mat-card>
</div>